@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');

$pup1: #5E6EF5;
$pup2: #8294F5; 
$pup3: #C1CEFF;
$pup4: #E8EDFF;
$white: #FFFFFF;
$yellow: #F1C848;
$red: #F65555;
$dark-blue: #343F56;

.section{overflow: hidden;}
.container{
    max-width: 1400px;
    width: 100%;
    height: 700px;
    position: relative;
    border: 2px solid $white;
}


.cir{
    border-radius: 50%;
    display: inline-block;
    position: absolute;

}

.section1{
    width: 100%;
    height: 100%;
    background: $pup2;
    overflow: hidden;
    color: $white;
    box-sizing: border-box;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    &-menu{
        background: $pup2;
        padding: 0 10px;
        position: absolute;
        top: -17px;
        right: -17px;
        ul{
            display: flex;
            li{
                padding-left: 25px;
                &:first-child{padding-left: 0;}
                a{
                    font-size: 26px;
                    color: $white;
                    transition: .3s;
                    &:hover{
                        color: $red;
                        transition: .3s;
                    }
                }
            }
        }
    }
    .logo{
        display: inline-block;
        width: 130px;
        height: 130px;
        background: url(../images/logo.jpg) no-repeat center center/100%;
        position: absolute;
        top: -65px;
        left: -19px;
    }
    .fe{
        display: inline-block;
        position: absolute;
        bottom: -23px;
        left: -19px;
        font-size: 36px;
        background: $pup2;
        padding: 0 10px;
    }

    .c-main{
        width: 320px;
        height: 320px;
        background: url(../images/인생.png) no-repeat center center/100%;
        position: absolute;
        top: 22%;
        left: 22%;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    &-main{
        &-desc{
            display: inline-block;
            position: absolute;
            top: 34%;
            left: 54%;
        }
        &-text{
            font-family: 'NanumSquareExtraBold';
            font-size: 3.5em;
        }
        &-btn{
            color: $red;
            background: $yellow;
            border: none;
            border-radius: 15px;
            font-size: 23px;
            padding: 10px 50px;
            position: absolute;
            top: 220px;
            left: 0;
            box-shadow: 0 0.4rem rgb(233, 213, 213);
            cursor: pointer;
            &:active{
                color: white;
                box-shadow: 0 0.2rem rgb(233, 213, 213);
                transform: translateY(0.2rem);
            }
            &:hover:not(:disabled){
                background: $white;
                text-shadow: 0 0.1rem #bcb4b4;
            }
            &:disabled{
                cursor: auto;
                color: grey;
            }
        }
    }

    
}


