@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap");
/* full page */
.fp-tableCell {
  vertical-align: baseline;
}

/* 공통요소 */
.body {
  letter-spacing: -0.05em;
  box-sizing: border-box;
}

.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FFFDF6;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

button {
  background: #444444;
  padding: 10px 30px;
  color: #FFFFFF;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
  text-align: center;
  background: #FFFDF6;
  /* &.fixed{
      position: fixed;
      width: 100%;
      top: 0;
      left:0;
  } */
}
.header-container {
  width: 90%;
  height: 100%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-container .logo {
  font-weight: 700;
  font-size: 35px;
  color: #555555;
  letter-spacing: -0.08em;
  line-height: 22px;
}
.header-container .menu {
  color: #666666;
}
.header-container .menu ul {
  display: flex;
}
.header-container .menu ul li {
  margin-right: 100px;
}
.header-container .menu ul li:last-child {
  margin-right: 0;
}
.header-container .side ul {
  display: flex;
}
.header-container .side ul li {
  font-size: 1.5em;
  color: #555555;
}
.header-container .side ul li:last-child {
  margin-left: 20px;
}

/* section1 */
.home {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .orangeCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  background: #FF6B00;
  top: 28%;
  left: 38%;
}
.home .yellowCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  background: #FFD600;
  bottom: 28%;
  right: 38%;
}
.home .blueCircle {
  background: #95BFD4;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: blur(70px);
  bottom: -12%;
  left: 12%;
}
.home-main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-main h1 {
  color: #333333;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: -0.03em;
  margin-bottom: 45px;
}
.home-main button {
  font-size: 25px;
}
.home .aboutLink {
  width: 300px;
  height: 300px;
  background: url(../images/인생.png) no-repeat center center/100%;
  top: 10%;
  left: 10%;
  position: absolute;
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
}
.home .projectLink {
  width: 200px;
  height: 200px;
  background: #FFDCDC;
  top: 25%;
  right: 10%;
  transform: rotate(40deg);
  position: absolute;
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
}
.home .skillLink {
  width: 150px;
  height: 150px;
  background: #D5E8E2;
  bottom: 10%;
  right: 25%;
  transform: rotate(67deg);
  position: absolute;
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
}
.home p {
  font-family: "NanumSquare";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
  color: #666666;
}

/* section2 */
.section2 {
  position: relative;
}
.section2 .yellowCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  background: #FFD600;
  top: 25%;
  left: 10%;
}
.section2 .blueCircle {
  background: #95BFD4;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: blur(70px);
  bottom: -15%;
  left: 35%;
}

.about {
  display: flex;
  align-items: center;
}
.about .about-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about-main-desc {
  flex-basis: 40%;
}
.about .about-main-desc p {
  font-family: "NanumSquare";
}
.about .about-main-desc p.desc1 {
  margin-bottom: 3em;
  font-size: 1.5em;
  font-weight: 700;
  color: #333333;
}
.about .about-main-desc p.desc2 {
  font-size: 1em;
  color: #333333;
}
.about .about-main-info {
  display: flex;
  flex-basis: 48%;
}
.about .about-main-info .infoImg {
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
  width: 400px;
  height: 400px;
  position: relative;
  margin: -1em -3em 0;
  margin-right: -3em;
  transform: rotate(15deg);
  background: url(../images/바다.jpg) no-repeat center center/100%;
  overflow: hidden;
}
.about .about-main-info .infoImg .infoDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-15deg);
}
.about .about-main-info .resume {
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
  display: block;
  width: 150px;
  height: 150px;
  background: #D5E8E2;
  transform: rotate(67deg);
  position: relative;
  margin-top: 20em;
}
.about .about-main-info .resume .resume-text {
  font-family: "NanumSquare";
  text-align: center;
  position: absolute;
  top: 38%;
  left: 28%;
  transform: rotate(-67deg);
  color: #666666;
}

/* section3 */
.section3 {
  position: relative;
}
.section3 .pinkEle {
  border-radius: 31% 69% 37% 63%/22% 49% 51% 78%;
  position: absolute;
  top: 20%;
  left: 10%;
  background: #FFDCDC;
  width: 15em;
  height: 15em;
  display: inline-block;
}
.section3 .blueCircle {
  background: #95BFD4;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: blur(70px);
  bottom: -7em;
  right: 10em;
}

.skill {
  display: flex;
  align-items: center;
}
.skill-title {
  font-size: 2em;
  margin-bottom: 1.2em;
  text-align: center;
}
.skill-area {
  display: flex;
  justify-content: space-between;
}
.skill-area-main {
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill-area-main .keywords ul {
  text-align: center;
}
.skill-area-main .keywords ul li {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
  padding: 5px 25px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.skill-area-main .keywords ul li i {
  font-size: 12px;
}
.skill-area-main .license {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 2em;
  margin-top: 1.5em;
}
.skill-area-main .license-title {
  display: block;
  font-size: 1.7em;
  margin-bottom: 10px;
}
.skill-area-main .license ul li {
  font-family: "NanumSquare";
  font-size: 17px;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}
.skill-area-main .license ul li span {
  font-family: inherit;
  font-size: 13px;
  padding-left: 10px;
  color: #888888;
}
.skill-area-detail {
  flex-basis: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skill-area-detail .card {
  flex-basis: 47%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 30px;
}
.skill-area-detail .card:nth-child(1) {
  margin-bottom: 30px;
}
.skill-area-detail .card:nth-child(2) {
  margin-bottom: 30px;
}
.skill-area-detail .card ul span {
  display: inline-block;
  background: #444444;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 5px 20px;
  margin-left: -2.5em;
  margin-bottom: 1em;
}
.skill-area-detail .card ul li {
  font-family: "NanumSquare";
  margin-bottom: 0.5em;
}
.skill-area-detail .card ul li:last-child {
  margin-bottom: 0;
}

/* section4 */
.project {
  display: flex;
  align-items: center;
}
.project .bg .yellowCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  background: #FFD600;
  top: 10%;
  right: -7%;
}
.project .bg .blueCircle {
  background: #95BFD4;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: blur(70px);
  bottom: -15%;
  left: -10%;
}
.project-card {
  width: 100%;
  height: 35em;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 3em;
  position: relative;
}
.project-card .project-cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-card .project-cont .project-image img {
  width: 30em;
  margin-left: -7em;
  margin-right: 5em;
  /* background:  url(../images/대검.PNG) no-repeat center center / cover; */
}
.project-card .project-cont .project-desc {
  color: #666666;
}
.project-card .project-cont .project-desc h1 {
  font-size: 1.2em;
  color: #888888;
  margin-bottom: 10px;
}
.project-card .project-cont .project-desc h2 {
  font-family: "NanumSquare";
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-card .project-cont .project-desc-skill ul {
  display: flex;
}
.project-card .project-cont .project-desc-skill ul li {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 1em;
  margin-right: 15px;
  padding: 5px 25px;
  border-radius: 30px;
  margin-bottom: 2em;
}
.project-card .project-cont .project-desc-details {
  font-family: "NanumSquare";
  font-size: 18px;
  margin-bottom: 2em;
}
.project-card .project-cont .project-desc-btn {
  font-size: 1.2em;
}
.project-card .project-cont .slideDot {
  margin-left: 5em;
}
.project-card .project-cont .slideDot ul li {
  width: 12px;
  height: 12px;
  background: #FFFDF6;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.project-card .project-cont .slideDot ul li:not(:last-child) {
  margin-bottom: 1em;
}
.project-card .project-cont .slideDot ul li.active {
  width: 12px;
  height: 30px;
  border-radius: 30px;
  background: #FF6B00;
}
.project-card .project-cont .slideDot ul li a {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

/* section5 */
.section5 {
  position: relative;
}
.section5 .bg {
  width: 53em;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.section5 .bg .orangeCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  width: 25em;
  height: 25em;
  background: #FF6B00;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
}
.section5 .bg .yellowCircle {
  border-radius: 50%;
  width: 16.2em;
  height: 16.2em;
  position: absolute;
  filter: blur(70px);
  width: 25em;
  height: 25em;
  background: #FFD600;
  bottom: 7%;
  right: 0;
}
.section5 .bg .blueCircle {
  background: #95BFD4;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: blur(70px);
  width: 28em;
  height: 28em;
  bottom: 7%;
  left: 0;
}
.section5 .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section5 .contact h1 {
  text-align: center;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: 2.2em;
}
.section5 .contact-card {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em;
}
.section5 .contact-card-info .myName {
  font-size: 2.2em;
  margin-bottom: 2.5em;
}
.section5 .contact-card-info span {
  font-size: 1.1em;
  color: #888888;
}
.section5 .contact-card-info .phoneEmail p {
  font-size: 1.3em;
}
.section5 .contact-card-info .phoneEmail .email {
  margin-top: 0.8em;
}
.section5 .contact-card-img {
  width: 230px;
  height: 230px;
  background: url(../images/qrcode_ex.PNG) no-repeat center center/100%;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */