@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');

$pink: #FFC4C4;
$white: #FFFFFF;
$purple: #B1AFFF;
$green: #C8FFD4;
$yellow: #F8FDBD;
$dark-blue: #343F56;

.container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: relative;
}

.ln{
    background: $white;
    position: absolute;
}

.cir{
    border-radius: 50%;
    display: inline-block;
}

.home{
    width: 100%;
    height: 100%;
    background: $pink;
    overflow: hidden;
    color: $white;
    padding: 80px;
    box-sizing: border-box;
    .menu{
        position: absolute;
        top: -13px;
        right: 0;
        ul{
            display: flex;
            li{
                padding-left: 25px;
                a{
                    font-size: 20px;
                    color: $white;
                }
            }
        }
    }
    .logo{
        display: inline-block;
        width: 100px;
        height: 100px;
        background: url(../images/logo.png) no-repeat center center/100%;
        position: absolute;
        top: -50px;
        
    }
    .fe{
        display: inline-block;
        position: absolute;
        bottom: -18px;
        font-size: 32px;
    }
    .mainImg{
        width: 320px;
        height: 320px;
        background: url(../images/인생.png) no-repeat center center/100%;
    }
    .yellow{
        width: 267px;
        height: 267px;
        background: $yellow;
    }
    .purple{
        width: 92px;
        height: 92px;
        background: $purple;
    }
    .green{
        width: 40px;
        height: 40px;
        background: $green;
    }
    /* .bottom-line{
        width: 80%;
        height: 2px;
        bottom: 0;
        right: 0;
    }
    .top-line{
        width: 800px;
        height: 2px;
        top: 0;
        left: 80px;
    }
    .right-line{
        width: 2px;
        height: 700px;
        bottom: 0;
        right: 0;
    }
    .left-line{
        width: 2px;
        height: 650px;
        bottom: 50px;
        left: 0;
    } */
    &-main{
        
    }
    
}


