@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');

$bg-ivory: #FFFDF6;
$pink: #FFDCDC;
$blue: #95BFD4;
$green: #D5E8E2;
$white: #FFFFFF;
$yellow: #FFD600;
$orange: #FF6B00;
$txt3: #333333;
$txt4: #444444;
$txt5: #555555;
$txt6: #666666;
$txt8: #888888;
$ln-gray: #b9b9b9;
$ln-light-gray: #ebebeb;

@mixin home-cir {
    border-radius: 50%;
    width: 16.2em;
    height: 16.2em;
    position: absolute;
    filter: blur(70px);
    z-index: -1;
}

@mixin blue-cir {
    background: $blue;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    position: absolute;
    filter: blur(70px);
    z-index: -1;
}

@mixin dr-df {
    border-radius: 31% 69% 37% 63% / 22% 49% 51% 78% ;
}

@mixin box-df {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* full page */
.fp-tableCell{
    vertical-align: baseline;
}



/* 공통요소 */
.body{
    letter-spacing: -0.05em;
    box-sizing: border-box;
}
.section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $bg-ivory;
}
.container{
    max-width: 1280px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    z-index: 1;
    
}
button{
    background: $txt4;
    padding: 10px 30px;
    color: $white;
}

.header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    text-align: center;
    background: $bg-ivory;
    /* &.fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left:0;
    } */
    &-container{
        width: 90%;
        height: 100%;
        border-bottom: 1px solid $ln-gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        .logo{
            font-weight: 700;
            font-size: 35px;
            color: $txt5;
            letter-spacing: -0.08em;
            line-height: 22px;
        }
        .menu{
            color: $txt6;
            ul{
                display: flex;
                li{
                    margin: 0 2em 0;
                }
            }
        }
        .side{
            ul{
                display: flex;
                li{
                    font-size: 1.5em;
                    color: $txt5;
                    margin-left: 20px;
                    &:last-child{
                        
                    }
                }
            }
        }
    }
}


/* section1 */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    .orangeCircle{
        @include home-cir;
        background: $orange;
        top: 28%;
        left: 34%;
    }
    .yellowCircle{
        @include home-cir;
        background: $yellow;
        bottom: 28%;
        right: 34%;
    }
    .blueCircle{
        @include blue-cir;
        bottom: -12%;
        left: 12%;
    }
    &-main{
        text-align: center;
        &-text1{
            color: $txt3;
            font-weight: 400;
            font-size: 6em;
            line-height: 115%;
            margin-bottom: 10px;
        }
        &-text2{
            font-size: 2em;
            font-weight: 400;
            margin-bottom: 1.5em;
        }
        button{
            font-size: 1.5em;
        }
    }
    .aboutLink{
        width: 18.7em;
        height: 18.7em;
        background: url(../images/인생.png) no-repeat center center /100%;
        top: 13%;
        left: -5%;
        position: absolute;
        @include dr-df;
    }
    .projectLink{
        width: 12.5em;
        height: 12.5em;
        background: $pink;
        top: 30%;
        right: -5%;
        transform: rotate(40deg);
        position: absolute;
        @include dr-df;
    }
    .skillLink{
        width: 9.4em;
        height: 9.4em;
        background: $green;
        bottom: 10%;
        right: 18%;
        transform: rotate(67deg);
        position: absolute;
        @include dr-df;
    }
    .bottomText{
        font-family: 'NanumSquare';
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 12px;
        color: $txt6;
    }
}


/* section2 */
.about{
    display: flex;
    align-items: center;
    .yellowCircle{
        @include home-cir;
        background: $yellow;
        top: 22%;
        left: 0;
    }
    .blueCircle{
        @include blue-cir;
        bottom: -15%;
        left: 35%;
    }
    .about-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &-desc{
            text-align: center;
            p{
                font-family: 'NanumSquare';
                &.desc1{
                    margin-bottom: 5em;
                    font-size: 1.7em;
                    font-weight: 700;
                    color: $txt3;
                }
                &.desc2{
                    font-size: 1.1em;
                    color: $txt3;
                }
            }
        }
        &-info{
            display: flex;
            margin-left: 10em;
            .infoImg{
                @include dr-df;
                width: 26em;
                height: 26em;
                position: relative;
                margin: -1em -3em 0 ;
                margin-right: -3em;
                transform: rotate(15deg);
                background: url(../images/바다.jpg) no-repeat center center / 100%;
                overflow: hidden;
                .infoDetail{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: rotate(-15deg);
                }
            }
            .resume{
                @include dr-df;
                display: block;
                width: 9em;
                height: 9em;
                background: $green;
                transform: rotate(67deg);
                position: relative;
                margin-top: 20em;
                &-text{
                    font-family: 'NanumSquare';
                    text-align: center;
                    position: absolute;
                    top: 38%;
                    left: 28%;
                    transform: rotate(-67deg);
                    color: $txt6;
                }
                
            }
            
        }
    }
}

/* section3 */
    
.skill{
    display: flex;
    align-items: center;
    .pinkEle{
        @include dr-df;
        position: absolute;
        z-index: -1;
        top: 15%;
        left: 0;
        background: $pink;
        width: 15em;
        height: 15em;
        display: inline-block;
    }
    .blueCircle{
        @include blue-cir;
        bottom: 0;
        right: -5%;
    }
    &-title{
        font-size: 2em;
        margin-bottom: 1.2em;
        text-align: center;
    }
    &-area{
        display: flex;
        justify-content: space-between;
        &-main{
            flex-basis: 47%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .keywords{
                ul{
                    text-align: center;
                    li{
                        @include box-df;
                        display: inline-block;
                        font-size: 20px;
                        margin-right: 15px;
                        padding: 5px 25px;
                        border-radius: 30px;
                        margin-bottom: 20px;
                        i{font-size: 12px}
                    }
                }
            }
            .license{
                @include box-df;
                border-radius: 30px;
                padding: 2em;
                margin-top: 1.5em;
                &-title{
                    display: block;
                    font-size: 1.7em;
                    margin-bottom: 10px;
                }
                ul{
                    li{
                        font-family: 'NanumSquare';
                        font-size: 17px;
                        border-bottom: 1px solid $ln-light-gray;
                        padding: 10px 0;
                        span{
                            font-family: inherit;
                            font-size: 13px;
                            padding-left: 10px;
                            color: $txt8;
                        }
                    }
                }
            }
        }
        &-detail{
            flex-basis: 47%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .card{
                flex-basis: 47%;
                @include box-df;
                padding: 2em;
                border-radius: 30px;
                &:nth-child(1){margin-bottom: 30px;}
                &:nth-child(2){margin-bottom: 30px;}
                ul{
                    span{
                        display: inline-block;
                        background: $txt4;
                        color: $white;
                        font-size: 1.2em;
                        padding: 5px 20px;
                        margin-left: -2.5em;
                        margin-bottom: 1em;
                    }
                    li{
                        font-family: 'NanumSquare';
                        margin-bottom: 0.5em;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }
}

/* section4 */
.project{
    display: flex;
    align-items: center;
    .bg{
        .yellowCircle{
            @include home-cir;
            background: $yellow;
            top: 10%;
            right: -7%;
        }
        .blueCircle{
            @include blue-cir;
            bottom: -15%;
            left: -10%;
        }
        
    }
    &-card{
        width: 100%;
        height: 35em;
        @include box-df;
        border-radius: 30px;
        padding: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project-cont{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .project-image{
                margin: 0 5em 0 -7em;
                img{
                    width: 30em;
                    /* background:  url(../images/대검.PNG) no-repeat center center / cover; */
                }
            }
            .project-desc{
                width: 100%;
                color: $txt6;
                h1{
                    font-size: 1.2em;
                    color: $txt8;
                    margin-bottom: 10px;
                }
                h2{
                    font-family: 'NanumSquare';
                    font-size: 1.8em;
                    font-weight: bold;
                    margin-bottom: 0.8em;
                }
                &-skill{
                    ul{
                        margin-bottom: 2.8em;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            @include box-df;
                            display: inline-block;
                            font-size: 1em;
                            margin-right: 15px;
                            margin-bottom: 10px;
                            padding: 5px 25px;
                            border-radius: 30px;
                        }
                    }
                }
                &-details{
                    font-family: 'NanumSquare';
                    font-size: 18px;
                    margin-bottom: 2em;
                }
                &-btn{
                    font-size: 1.2em;
                }
            }
            
        }
        .slideDot{
            margin-left: 5em;
            ul{
                li{
                    width: 12px;
                    height: 12px;
                    background: $bg-ivory;
                    border-radius: 50%;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    &:not(:last-child){
                        margin-bottom: 1em;
                    }
                    &.active{
                        width: 12px;
                        height: 30px;
                        border-radius: 30px;
                        background: $orange;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    }
                    a{
                        width: inherit;
                        height: inherit;
                        cursor: pointer;
                    }
                }
            }
            
            
        }
        
    }
}

/* section5 */
.section5{
    position: relative;
    .bg{
        width: 53em;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .orangeCircle{
            @include home-cir();
            width: 25em;
            height: 25em;
            background: $orange;
            top: 17%;
            left: 50%;
            transform: translateX(-50%);
        }
        .yellowCircle{
            @include home-cir();
            width: 25em;
            height: 25em;
            background: $yellow;
            bottom: 7%;
            right: 0;
        }
        .blueCircle{
            @include blue-cir();
            width: 28em;
            height: 28em;
            bottom: 7%;
            left: 0;
        }
       
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            text-align: center;
            margin-bottom: 1em;
            color: $white;
            font-size: 2.2em;
        }
        &-card{
            @include box-df;
            border-radius: 30px;
            width: 650px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4em;
            &-info{
                .myName{
                    font-size: 2.2em;
                    margin-bottom: 2.5em;
                }
                span{
                    font-size: 1.1em;
                    color: $txt8;
                }
                .phoneEmail{
                    p{font-size: 1.3em;}
                    .email{margin-top: 0.8em;}
                }
            }
            &-img{
                width: 230px;
                height: 230px;
                background: url(../images/qrcode_ex.PNG) no-repeat center center / 100%;
                border-radius: 10px;
            }
        }
    }
    
}

@media screen and (max-width: 1390px){
    .about{
        .about-main-info{
            margin-left: 5em;
            .infoImg{
                width: 23em;
                height: 23em;
            }
            .resume{
                width: 7em;
                height: 7em;
                &-text{
                    font-size: 14px;
                }
            }
        }
    }

    .project-card{
        height: auto;
        .project-cont{
            flex-direction: column;
            align-items: baseline;
            .project-image{
                margin: 0 0 2em;
            }
        }
    }
}
@media screen and (max-width: 1280px){
    .home{
        .aboutLink{
            width: 15em;
            height: 15em;
        }
        .projectLink{
            width: 10em;
            height: 10em;
        }
        .skillLink{
            width: 7em;
            height: 7em;
        }
        &-main{
            &-text1{
                font-size: 5.5em;
            }
            &-text2{
                font-size: 1.8em;
            }
            button{
                font-size: 1.2em;
            }
        }
    }
    .skill-area{
        flex-direction: column;
        &-main{
            .license{
                margin-top: 0;
                text-align: center;
                padding: 1.2em 1.5em;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        span{
                            display: block;
                            margin-top: 10px;
                            padding-left: 0;
                        
                        }

                    }
                }
            }
        }
        &-detail{
            margin-top: 1.5em;
            .card{
                padding: 1.2em 1.5em;
            }
        }
    }
    .skill-title{margin-bottom: 0.5em;}
}
@media screen and (max-width: 1000px){
    .home{
        .aboutLink{
            width: 13.5em;
            height: 13.5em;
        }
        .projectLink{
            width: 8em;
            height: 8em;
        }
        .skillLink{
            width: 6em;
            height: 6em;
        }
        &-main{
            &-text1{
                font-size: 4.5em;
            }
            &-text2{
                font-size: 1.8em;
            }
            button{
                font-size: 1.2em;
            }
        }
    }
    .skill-area{
        &-main{
            .keywords{
                ul{
                    li{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
            }
            .license{
                margin-top: 5px;
                &-title{
                    font-size: 1.2em;
                }
                ul{
                    li{
                        font-size: 15px;
                        span{
                            margin-top: 5px;
                            font-size: 11px;
                        }

                    }
                }
            }
        }
        &-detail{
            .card{
                ul{
                    span{
                        font-size: 1em;
                    }
                    li{font-size: 14px;}
                }
            }
        }
    }
    .skill-title{
        font-size: 1.5em;
    }
    
}
@media screen and (max-width: 930px){
    .about{
        .about-main{
            flex-direction: column;
            &-desc{
                order: 2;
                p{
                    &.desc1{
                        margin-top: 1em;
                        margin-bottom: 2em;
                    }
                }
            }
            &-info{
                margin-left: 0;
                order: 1;
                .resume{margin-top: 18.5em;}
            }
        }
    }

}
@media screen and (max-width: 850px){

    .project{
        &-card{
            .project-cont{
                width: 100%;
                height: 100%;
                .project-image{

                    img{
                        width: 100%;
                    }
                }
                .project-desc{
                    h1{
                    }
                    h2{
                    }
                    &-skill{
                        ul{
                            li{

                            }
                        }
                    }
                    &-details{
                    }
                    &-btn{
                    }
                }
            }
            .slideDot{
                margin-left: 3em;
                ul{
                    li{
                        a{
                        }
                    }
                }
                
                
            }
        }
    }
}
@media screen and (max-width: 560px){
    .about{
        .about-main{
            &-desc{
                p{
                    &.desc1{
                        font-size: 1.5em;
                    }
                    &.desc2{
                        font-size: 1em;
                    }
                }
            }
            &-info{
                .infoImg{
                    width: 19em;
                    height: 19em;
                }
                .resume{
                    margin-top: 16em;
                    width: 6em;
                    height: 6em;
                    &-text{
                        font-size: 14px;
                        top: 33%;
                        left: 21%;
                    }
                }
            }
        }
    }
    .project{
        &-card{
            padding: 1.5em;
            .project-cont{
                .project-image{

                    img{
                        width: 100%;
                    }
                }
                .project-desc{
                    h1{
                        font-size: 1em;
                        margin-bottom: 10px;
                    }
                    h2{
                        font-size: 1.5em;
                        margin-bottom: 0.8em;   
                    }
                    &-skill{
                        ul{
                            margin-bottom: 2em;
                            li{

                            }
                        }
                    }
                    &-details{
                        font-size: 15px;
                        margin-bottom: 2em;
                    }
                    &-btn{
                    }
                }
            }
            .slideDot{
                margin-left: 1em;
                ul{
                    li{
                        a{
                        }
                    }
                }
                
                
            }
        }
    }
}


